* {
  box-sizing: border-box;
}

:root {
  --dark: rgba(1, 3, 12, 0.85);
}

body {
  background-image: url("https://media.giphy.com/media/wPn31WOCzkvKg/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 1.25rem;
  color: white;
}

.App {
  text-align: center;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
}

code {
  padding: 0.5rem;
  margin: 1rem;
  background-color: lightgray;
  border-radius: 1rem;
  color: var(--dark);
}

.grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  background-color: var(--dark);
  color: gray;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.grid button {
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  background: red;
  color: white;
  border-radius: 0.5rem;

  border: 2px solid white;
  border-bottom-width: 0.5rem;
}

.grid button:hover {
  background: darkred;
}
.grid button:active {
  border-bottom-width: 2px;
}
.grid .grid-item:nth-child(even) button {
  background: green;
}
.grid .grid-item:nth-child(even) button:hover {
  background: darkgreen;
}

img {
  width: 100%;
}

.answers {
  background: var(--dark);
  border-radius: 1rem;
  margin: 1rem;
  font-family: monospace;
  max-width: 30rem;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

.answers-day {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
}

.year-selector {
  font-size: 2rem;
}